main {
  .exam {
    .content {
      .btns {
        margin-top: 70px !important;
      }
      .price {
        transform: translateY(60px);
      }
    }
    .left {
      height: 470px;
    }
    .right {
      ul:nth-child(1) {
        background: #fff;
        box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
        padding: 30px 30px 30px 60px;
        margin-bottom: 70px;
      }
    }
  }
}
