.profBar {
  background: #f5f5f5;
}
main {
  .bar {
    .text {
      font-family: "Neue Haas Unica";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #223344;
      transform: translate(100px,-80px);
      span {
        color: #09B39D;
      }
    }
  }
  .profile {
    width: 830px;
    background: #fff;
    box-shadow: 0px 0px 7px rgba(190, 190, 190, 0.25);
    padding: 60px 65px 120px;
    margin: 210px 0 0 40px;
    input,
    a {
      width: 341px;
      background: #fff;
      box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
      border-radius: 50px;
      border: none;
    }
    input {
      padding: 11px 23px;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
    a {
      padding: 11px 0;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      background: #543ee9;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      margin-top: 20px;
    }
    .inp {
      margin-bottom: 20px;
      div {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        color: #797979;
        margin-bottom: 7px;
        margin-left: 22px;
      }
    }
  }
}
