main {
  .renewal {
    width: 1152px;
    margin: 120px auto;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    padding: 152px 0;
    h2 {
      font-family: "Futurica";
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 44px;
      color: #191919;
    }
    p {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #353535;
      padding: 7px 0 50px;
    }
    input,
    a {
      width: 341px;
      background: #fff;
      box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
      border-radius: 50px;
      border: none;
    }
    input {
      padding: 11px 23px;
      margin-bottom: 20px;
    }
    a {
      background: #543ee9;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      text-decoration: none;
      padding: 11px 0;
      text-align: center;
    }
    .bigGreen {
        position: absolute;
        width: 211px;
        height: 234px;
        bottom: -40px;
        left: 340px;
        background: #3ad4d8;
        transform: rotate(-37.25deg);
        z-index: -1;
      }
      .bigPurple {
        position: absolute;
        width: 292px;
        height: 458px;
        top: -30px;
        right: 370px;
        background: #671c7c;
        transform: rotate(22deg);
        z-index: -1;
      }
  }
}
