main {
  .section_8 {
    background: #f5f5f5;
    .sect8Cont {
      max-width: 1320px;
      margin: auto;
      padding: 160px 0 120px;
      .title {
        font-family: "Futurica";
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        text-transform: capitalize;
        color: #181818;
        margin-bottom: 52px !important;
        text-align: center;
      }
      .boxs {
        .box {
          width: 315px;
          height: 382px;
          background: #ffffff;
          box-shadow: 0px 0px 7px rgba(190, 190, 190, 0.25);
          padding: 30px 26px;
          position: relative;
          span {
            display: inline-block;
            font-family: "Mulish";
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            color: #fe5538;
            margin: 16px 0 7px;
          }
          h2 {
            font-family: "Futurica";
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 32px;
            color: #353535;
            margin-bottom: 20px;
          }
          p {
            font-family: "Mulish";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #3e3d3d;
          }
          .rowImg {
            position: absolute;
            bottom: 20px;
            right: 26px;
            opacity: 0;
          }
        }
        .box:hover {
          cursor: pointer;
          background: #ffffff;
          box-shadow: 0px 0px 70px rgba(106, 106, 106, 0.4);
          .rowImg {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .section_8 {
    .sect8Cont {
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .section_8 {
    transform: translateY(-300px);
  }
}